<link href='//fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <h2 id='title'>Notes</h2>
  <div class = "input-box">
    <div class = "input-sticky">
      {{message-queue}}
      <div class = "for-shadow">
        {{input placeholder="Add a title!" value=noteTitle }}
        {{textarea placeholder="Write a note!" value=noteBody }}
      </div>
      <span class = "save fa fa-check-circle" {{action 'newNote'}}></span>
    </div>
    <hr>
  </div>

  <div class = "sticky-box">
    <div class = "sticky">
      {{noteTitle}}<br>
      {{noteBody}}
    </div>
  </div>

  {{#each note in model}}
    <div class = "sticky-box">
      <div class= "sticky">
        {{local-note note=note deleteNote="deleteNote"}}
      </div>
    </div>
  {{/each}}


{{outlet}}
