<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>



<div class = "input-box">
  <h2 id='title'>Local Notes</h2>
  {{message-queue}}
  <div class = "input-sticky">
    <div class = "for-shadow">
      {{input placeholder="Add a title!" value=noteTitle }}
      {{textarea placeholder="Write a note!" value=noteBody }}
    </div>
    <span class = "save fa fa-check-circle" {{action 'newNote'}}></span>
  </div>
  <hr>
</div>


<div class = "sticky-box">
  <div class = "sticky">
    {{noteTitle}}<br>
    {{noteBody}}
  </div>
</div>


{{#each note in model}}
<div class = "sticky-box">
    <span class = "delete fa fa-times-circle" {{action 'deleteNote' note.id}}></span>
  <div class= "sticky">
    {{note.title}}<br>
    {{note.body}}
  </div>
</div>

{{/each}}

{{outlet}}
